<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Walmart Test Suite">

<listeners>
	<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
</listeners>

  <test thread-count="5" name="Walmart App Test Cases">
    <classes>
      <class name="com.walmart.qa.testcases.HomePageTest"/>
      <class name="com.walmart.qa.testcases.ShopGroceryTest"/>
    </classes>
  </test> 
</suite>
